/* ********************** */
/* RESETS */
/* ********************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********************** */
/* VARIABLES */
/* ********************** */

:root {
  --News-Heading: hsl(35, 77%, 62%);
  --Readmore-Btn: hsl(5, 85%, 63%);

  --New-Articles-Heading: hsl(36, 100%, 99%);
  --New-Articles-Paragraph: hsl(36, 100%, 99%, 0.8);
  --Number-Color: hsl(233, 8%, 79%);
  --Dark-Grayish-Blue: hsl(236, 13%, 42%);
  --New-Articles-Background: hsl(240, 100%, 5%);

  /* TEXT */
  --Font-Family: "Inter", sans-serif;
  --Paragraph-Font-Size: 0.94rem;

  --Mobile-Nav-Background: hsl(0, 0%, 0%);
  --Hamburger-Line-Color: hsl(0, 0%, 15%);
  --Nav-Menu-Background: transparent;
}

/* ********************** */
/* IMAGES */
/* ********************** */

picture img {
  width: 100%;
}

/* ********************** */
/* HEADER */
/* ********************** */

body {
  font-family: var(--Font-Family);
  padding: 20px;
}

header {
  max-width: 1120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px 34px 20px;
  margin: auto;
}

[aria-controls="nav-menu"] {
  display: block;
  background: var(--Nav-Menu-Background);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 4px;

  position: absolute;
  z-index: 2;
  right: 6%;
  top: 50%;
  transform: translatey(-50%);

  transition: opacity 0.7s linear, visibility 0.3s linear;
}

[aria-controls="nav-menu"]:is(:hover, :focus-visible) {
  background: rgba(255, 255, 255, 0.2);
  outline: 2px solid white;
  outline-offset: 4px;
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  background: var(--Hamburger-Line-Color);
  margin-block: 10px;
  border-radius: 4px;
  transition: transform 0.5s, opacity 0.25s;
}

[aria-controls="nav-menu"][aria-expanded="true"] .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

[aria-controls="nav-menu"][aria-expanded="true"] .line:nth-child(2) {
  opacity: 0;
}

[aria-controls="nav-menu"][aria-expanded="true"] .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.nav-menu {
  display: flex;
  gap: 30px;
  z-index: 1;
}

.nav-menu-link:is(:hover, :focus-visible) {
  text-decoration: underline;
}

[aria-expanded="false"] ~ .nav-menu {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100);
}

[aria-expanded="true"] ~ .nav-menu {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  text-align: start;
  display: flex;
  flex-direction: column;

  position: absolute;
  right: 0%;
  top: 0%;

  background: var(--Mobile-Nav-Background);
  width: 50%;
  height: 1000px;

  padding: 200px 40px 40px 40px;

  transition: opacity 0.6s linear, visibility 0.3s linear;
}

/* ********************** */
/* MAIN ARTICLE */
/* ********************** */

main {
  max-width: 1120px;
  margin: 0 auto;

  display: grid;
  grid-template-areas:
    "main-article"
    "new-articles"
    "more-articles";

  gap: 30px;
}

article {
  display: grid;
  grid-area: main-article;
}

.main-article-content {
  display: flex;
  flex-direction: column;
}

.main-article-content > * {
  flex-basis: 50%;
}

.main-article-column-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-article-heading {
  font-weight: 800;
  font-size: 56px;
  line-height: 1;
}

.main-article-paragraph {
  font-size: var(--Paragraph-Font-Size);
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 20px;
}

.btn-container {
}

.readmore-btn {
  font-size: 14px;
  padding: 15px 32px;
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  background: var(--Readmore-Btn);
}

/* ********************** */
/* NEW ARTICLES */
/* ********************** */

.new-articles-container {
  color: var(--New-Articles-Heading);
  background: var(--New-Articles-Background);
  padding: 20px;

  grid-area: new-articles;
}

.new-articles-list {
  border-bottom: 1px solid var(--New-Articles-Heading);
  padding: 20px 0;
}

.new-articles-list:last-child {
  border-bottom: none;
}

.news-heading {
  font-size: 40px;
  color: var(--News-Heading);
}

.new-articles-heading {
  font-size: 20px;
  margin-bottom: 6px;
}

.new-articles-paragraph {
  color: var(--New-Articles-Paragraph);
  margin-bottom: 10px;
}

/* ********************** */
/* MORE ARTICLES */
/* ********************** */

.more-articles-section {
  grid-area: more-articles;
}

.more-articles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.more-articles-list {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  /* padding: 20px; */
}

.more-articles-main-content {
  max-width: 28ch;
}

.more-articles-image {
  max-width: 150px;
}

.more-articles-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-articles-number {
  font-size: 30px;
  font-weight: 700;
  color: var(--Number-Color);
}

.more-articles-heading {
  font-size: 18px;
  font-weight: 800;
}

.more-articles-paragraph {
  font-size: 15px;
}

/* ********************** */
/* MEDIA QUERIES */
/* ********************** */

@media (min-width: 700px) {
  main {
    display: grid;
    grid-template-areas:
      "main-article main-article"
      "new-articles more-articles";
  }
}

@media (min-width: 1000px) {
  [aria-controls="nav-menu"] {
    display: none;
  }

  [aria-expanded="false"] ~ .nav-menu {
    display: flex;
    align-items: center;
    visibility: visible;
    opacity: 1;
  }

  [aria-expanded="true"] ~ .nav-menu {
    font-size: 18px;
    flex-direction: row;
    position: initial;
    background: transparent;
    text-align: start;
    padding: 0px 0px 0px 0px;
  }

  main {
    grid-template-columns: 68% 32%;
    grid-template-areas:
      "main-article new-articles"
      "more-articles more-articles";
  }

  .main-article-content {
    flex-direction: row;
  }

  .more-articles-container {
    flex-direction: row;
  }
}
